:root {
	--primary: #007BFF;
	--secondary: #6C757D;
	--seccess: #28A745;
	--danger: #DC3545;
	--warning: #FFC107;
	--info: #17A2B8;
	--light: #F8F9FA;
	--dark: #343A40;	
}

body {
	padding-top: 10px;
	background: #ccc;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
}

h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 900;
	text-align: center;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

input {
	padding: 0 10px;
}

button {
	padding: 10px 20px;	
	border: none;
	font: inherit;
	color: var(--light);
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
}

button:disabled {
	opacity: .2;
	cursor: auto;
}

.add-btn {
	background: var(--seccess);
}

.done-btn {
	background: var(--primary);
	font-size: 16px;
	text-transform: uppercase;
}

.del-all-btn {
	background: var(--danger);
}
	
.done {
	text-decoration: line-through;
}

.f-col-ai-c {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.txt-ac {
	text-align: center;
}

.app-wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 30px 20px;
	background: #fff;
	border-radius: 10px;
}

.clock {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;

	span {
		padding: 5px 10px;
		background: var(--secondary);
		color: var(--light);
		font-size: 28px;
		font-weight: 700;
		border: none;
		border-radius: 5px;
	}
}

.input-block {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.todos-list {
	width: 100%;
	margin-bottom: 20px;

	&__item {
		display: flex;
		column-gap: 15px;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
		padding: 10px 20px;
		border: 1px solid #999;
		border-radius: 5px;
	}

	&__num {

	}

	&__todo {
		flex-grow: 1;
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1 / 1;
		height: 30px;
		margin: 0;
		padding: 0;
		background: var(--danger);
		color: var(--light);
		border-radius: 100%;
		line-height: 1;
		text-align: center;
		cursor: pointer;
	}

}